<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Date and Time</title>
</head>
<body style="text-align: center;">

    <p class='lead' style="margin-top:200px; color:cornflowerblue">The current date and time:</p>
    <h1 class='display-1' style="color:rgb(148, 35, 20)">
        {{ time }}
    </h1>
    
</body>
</html>